<header>
    <img src="https://assets-persist.lovart.ai/agent_images/828d45c7-f4b4-4c15-a4a5-a65bcb3edaf4.png" class="logo">
    <nav>
        <ul>
            <li>
                <a routerLink="/">Inicio</a>
            </li>
            
            @if (!authService.isLoggedIn()) {
                <li>
                    <a routerLink="public/login">Iniciar sesión</a>
                </li>
                <li>
                    <a routerLink="/public/register">Registrarse</a>
                </li>
            }
            
            @if (authService.isLoggedIn()) {
                <li>
                    <a routerLink="/members/profile">Perfil</a>
                </li>
                <li>
                    <button (click)="logout()">Cerrar sesión</button>
                </li>
            }
        </ul>
    </nav>
</header>


  


